*{
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 16px 32px;
}
h1{
    margin-bottom: 48px;
}
.container{
    border: 1px solid blue;
    padding: 32px;
    margin-top: 16px;
}
body.dark{
    background-color: #27292d;
    color: rgb(227, 227, 227);
}