body{
    margin: 0;
    background-color: #decdac;
    font-family: cursive;
}
.popup{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 24px;
    position: fixed;
    padding: 8px;
    box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
    transform: scale(0);
    transition: all 0.2s ease-in-out;
    top: 0;
    left: 0;
    /* display: none; */
}
.popup-open .popup{
    /* display: block; */
    transform: scale(1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.close-icon{
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    right: 16px;
    font-family: serif;
    cursor: pointer;
}

.overlay{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-open .overlay{
    display: block;
}